---
title: Ibm3624PinVerification
---

::: capo_payment_cryptography_data.types.ibm3624_pin_verification.Ibm3624PinVerification
    options:
      show_source: true
      merge_init_into_class: false
