---
title: VisaPinVerification
---

::: capo_payment_cryptography_data.types.visa_pin_verification.VisaPinVerification
    options:
      show_source: true
      merge_init_into_class: false
