---
title: predict_qa_results
---

::: capo_quicksight._services.quick_sight.QuickSightClient.predict_qa_results
    options:
      show_source: true
