---
title: get_verification
---

::: capo_partnercentral_account._services.async_partner_central_account.AsyncPartnerCentralAccountClient.get_verification
    options:
      show_source: true
