---
title: start_verification
---

::: capo_partnercentral_account._services.async_partner_central_account.AsyncPartnerCentralAccountClient.start_verification
    options:
      show_source: true
