---
title: get_automated_reasoning_policy_test_result
---

::: capo_bedrock._services.bedrock.BedrockClient.get_automated_reasoning_policy_test_result
    options:
      show_source: true
