---
title: DnsVerification
---

::: capo_securityagent.types.dns_verification.DnsVerification
    options:
      show_source: true
      merge_init_into_class: false
