---
title: QAResults
---

::: capo_quicksight.types.qa_results.QAResults
    options:
      show_source: true
      merge_init_into_class: false
