---
title: QAResult
---

::: capo_quicksight.types.qa_result.QAResult
    options:
      show_source: true
      merge_init_into_class: false
