---
title: SbomValidationResult
---

::: capo_iot.types.sbom_validation_result.SbomValidationResult
    options:
      show_source: true
      merge_init_into_class: false
