---
title: SMSSandboxPhoneNumberVerificationStatus
---

::: capo_sns.types.sms_sandbox_phone_number_verification_status.SMSSandboxPhoneNumberVerificationStatus
    options:
      show_source: true
      merge_init_into_class: false
