---
title: CertificateValidationRecord
---

::: capo_apprunner.types.certificate_validation_record.CertificateValidationRecord
    options:
      show_source: true
      merge_init_into_class: false
