---
title: get_test_run
---

::: capo_resiliencehubv2._services.resiliencehubv2.resiliencehubv2Client.get_test_run
    options:
      show_source: true
