---
title: put_restore_validation_result
---

::: capo_backup._services.backup.BackupClient.put_restore_validation_result
    options:
      show_source: true
