---
title: send_contact_method_verification
---

::: capo_lightsail._services.lightsail.LightsailClient.send_contact_method_verification
    options:
      show_source: true
