---
title: create_deliverability_test_report
---

::: capo_pinpoint_email._services.pinpoint_email.PinpointEmailClient.create_deliverability_test_report
    options:
      show_source: true
