---
title: list_deliverability_test_reports
---

::: capo_pinpoint_email._services.pinpoint_email.PinpointEmailClient.list_deliverability_test_reports
    options:
      show_source: true
