---
title: ABTestResults
---

::: capo_bedrock_agentcore.types.ab_test_results.ABTestResults
    options:
      show_source: true
      merge_init_into_class: false
