---
title: CanaryRunTestResult
---

::: capo_synthetics.types.canary_run_test_result.CanaryRunTestResult
    options:
      show_source: true
      merge_init_into_class: false
