---
title: DeliverabilityTestReports
---

::: capo_pinpoint_email.types.deliverability_test_reports.DeliverabilityTestReports
    options:
      show_source: true
      merge_init_into_class: false
