---
title: send_notify_code_verification
---

::: capo_endusermessaging._services.async_end_user_messaging.AsyncEndUserMessagingClient.send_notify_code_verification
    options:
      show_source: true
