---
title: get_domain_verification
---

::: capo_vpc_lattice._services.vpc_lattice.VPCLatticeClient.get_domain_verification
    options:
      show_source: true
