---
title: TestResult
---

::: capo_iotdeviceadvisor.types.test_result.TestResult
    options:
      show_source: true
      merge_init_into_class: false
