---
title: get_domain_verification
---

::: capo_vpc_lattice._services.async_vpc_lattice.AsyncVPCLatticeClient.get_domain_verification
    options:
      show_source: true
