---
title: get_verification
---

::: capo_partnercentral_account._services.partner_central_account.PartnerCentralAccountClient.get_verification
    options:
      show_source: true
