---
title: start_verification
---

::: capo_partnercentral_account._services.partner_central_account.PartnerCentralAccountClient.start_verification
    options:
      show_source: true
