---
title: ConversationLevelTestResults
---

::: capo_lex_models_v2.types.conversation_level_test_results.ConversationLevelTestResults
    options:
      show_source: true
      merge_init_into_class: false
