---
title: IntentClassificationTestResults
---

::: capo_lex_models_v2.types.intent_classification_test_results.IntentClassificationTestResults
    options:
      show_source: true
      merge_init_into_class: false
