---
title: IntentLevelSlotResolutionTestResults
---

::: capo_lex_models_v2.types.intent_level_slot_resolution_test_results.IntentLevelSlotResolutionTestResults
    options:
      show_source: true
      merge_init_into_class: false
