---
title: OverallTestResults
---

::: capo_lex_models_v2.types.overall_test_results.OverallTestResults
    options:
      show_source: true
      merge_init_into_class: false
