---
title: UtteranceLevelTestResults
---

::: capo_lex_models_v2.types.utterance_level_test_results.UtteranceLevelTestResults
    options:
      show_source: true
      merge_init_into_class: false
