---
title: send_notify_code_verification
---

::: capo_endusermessaging._services.end_user_messaging.EndUserMessagingClient.send_notify_code_verification
    options:
      show_source: true
