---
title: PhoneNumberVerificationStatus
---

::: capo_account.types.phone_number_verification_status.PhoneNumberVerificationStatus
    options:
      show_source: true
      merge_init_into_class: false
