---
title: GetTestResult
---

::: capo_device_farm.types.get_test_result.GetTestResult
    options:
      show_source: true
      merge_init_into_class: false
