---
title: ListTestsResult
---

::: capo_device_farm.types.list_tests_result.ListTestsResult
    options:
      show_source: true
      merge_init_into_class: false
