---
title: TestReport
---

::: capo_device_farm.types.test_report.TestReport
    options:
      show_source: true
      merge_init_into_class: false
