---
title: create_deliverability_test_report
---

::: capo_pinpoint_email._services.async_pinpoint_email.AsyncPinpointEmailClient.create_deliverability_test_report
    options:
      show_source: true
