---
title: get_deliverability_test_report
---

::: capo_pinpoint_email._services.async_pinpoint_email.AsyncPinpointEmailClient.get_deliverability_test_report
    options:
      show_source: true
