---
title: DomainValidationRecord
---

::: capo_lightsail.types.domain_validation_record.DomainValidationRecord
    options:
      show_source: true
      merge_init_into_class: false
