---
title: LoadBalancerTlsCertificateDomainValidationRecord
---

::: capo_lightsail.types.load_balancer_tls_certificate_domain_validation_record.LoadBalancerTlsCertificateDomainValidationRecord
    options:
      show_source: true
      merge_init_into_class: false
