---
title: SendContactMethodVerificationResult
---

::: capo_lightsail.types.send_contact_method_verification_result.SendContactMethodVerificationResult
    options:
      show_source: true
      merge_init_into_class: false
