---
title: DnsRecordVerificationStatus
---

::: capo_workmail.types.dns_record_verification_status.DnsRecordVerificationStatus
    options:
      show_source: true
      merge_init_into_class: false
