---
title: VerificationStatus
---

::: capo_sesv2.types.verification_status.VerificationStatus
    options:
      show_source: true
      merge_init_into_class: false
