---
title: DomainVerificationSummary
---

::: capo_vpc_lattice.types.domain_verification_summary.DomainVerificationSummary
    options:
      show_source: true
      merge_init_into_class: false
