---
title: put_restore_validation_result
---

::: capo_backup._services.async_backup.AsyncBackupClient.put_restore_validation_result
    options:
      show_source: true
