---
title: send_contact_method_verification
---

::: capo_lightsail._services.async_lightsail.AsyncLightsailClient.send_contact_method_verification
    options:
      show_source: true
