---
title: AutomatedReasoningPolicyTestResult
---

::: capo_bedrock.types.automated_reasoning_policy_test_result.AutomatedReasoningPolicyTestResult
    options:
      show_source: true
      merge_init_into_class: false
