---
title: get_automated_reasoning_policy_test_result
---

::: capo_bedrock._services.async_bedrock.AsyncBedrockClient.get_automated_reasoning_policy_test_result
    options:
      show_source: true
